<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DebugBehavior" name="Kalambury.WcfServer.Services.UserService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RESTFriendly" contract="Kalambury.WcfServer.Interfaces.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/UserService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DebugBehavior" name="Kalambury.WcfServer.Services.PhraseService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RESTFriendly" contract="Kalambury.WcfServer.Interfaces.IPhraseService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/PhraseService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="DebugBehavior" name="Kalambury.WcfServer.Services.RoomService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RESTFriendly" contract="Kalambury.WcfServer.Interfaces.IRoomService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/RoomService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding" maxReceivedMessageSize="2097152">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTFriendly">
          <webHttp />
        </behavior>
    </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>